@import '../../constants.scss';

.input-wrapper {
  flex: 0 0 auto;
  margin-right: $gutter-size--large;
  list-style: none;

  span {
    display: inline-block;
    background-color: white;
    border: $border-standard;
    border-radius: 20px;
    padding: 8px 14px;
    cursor: pointer;
  }

  input[type='radio'] {
    display: none;
  }

  .input--active {
    color: white;
    border-color: $positive;
    background-color: $positive;
  }
}