@import './constants.scss';

.app {
  font-family: 'Nunito', sans-serif;
}

.app-header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}
