@import './constants.scss';

.app {
  font-family: 'Nunito', sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gutter-size--large 24px;

  img {
    max-height: 33px;
  }

  .user-initials {
    display: inline-block;
    color: white;
    background: $icon-color;
    padding: $gutter-size--large;
    border-radius: 50%;
  }

  border-bottom: $border-standard;
}

h2 {
  &.h6 {
    font-family: sans-serif;
    font-size: 30px;
    color: $bold-text-color;
  }
}

.appointment-section {
  width: calc(100% - 24px);
  max-width: 600px;
  margin: 24px auto;
}

.section-border {
  border-bottom: $border-standard;
  margin-bottom: 24px;
}